[Unit]
Description=kairos system initramfs setup before switch root
DefaultDependencies=no
After=immucore.service
Requires=immucore.service
Before=initrd.target

[Service]
RootDirectory=/sysroot
BindPaths=/proc /sys /dev /run /tmp
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/elemental run-stage initramfs

[Install]
RequiredBy=initrd.target
